*.ipynb_checkpoints
*.ipynb
*__pycache__
xcodec
epoch=4-step=1400000.ckpt
outputs
!interpolate.ipynb
interpolate
24k
wandb
hydra
*.log
!prepare-audio-files.ipynb
*.mp3
*.pyc
test-set
*.wav
*.pyc
evaluation/test-set